.header{
    height: 25px;
    width: 1350px;
    color:rgb(6, 142, 97);
    background-color: rgb(238, 224, 202);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}